@model MyHolidayVm

@{
    ViewBag.Title = "My Holiday";
}


<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider layer-overlay overlay-deep" data-bg-img="../../Content/Client/images/bg/bg5.jpg">
        <div class="container pt-90 pb-50">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 xs-text-center">
                        <h3 class="font-28">My Holiday</h3>
                        <ol class="breadcrumb white mt-10">
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li class="active text-theme-colored">My Holiday</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Appointment -->
    <section>
        <div class="container pb-0">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-theme-colored title-border mt-0">Set Holiday</h4>

                        @using (Html.BeginForm("MyHoliday", "Doctor", FormMethod.Post, new { id = "frm", @class = "form-transparent mb-90 mt-30" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(s => s.DoctorId)

                            <!-- Appointment Form Sart-->

                            <div class="row">
                                <div class="col-sm-4" style="background-color:#f9f9f9;">
                                    <div class="form-group mb-10" style="margin-top:5% !important">
                                        <label>Select holiday date <span class="text-danger">*</span> </label>
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            @Html.TextBoxFor(s => s.OffDate, new { @class = "form-control required datetime-picker" })
                                        </div>
                                    </div>

                                    <div class="form-group mb-10" style="margin-top:5% !important">
                                        <label>Holiday reason <span class="text-danger">*</span> </label>
                                        @Html.TextAreaFor(s => s.Reason, new { @class = "form-control" })
                                    </div>

                                    <div class="form-group mb-0 mt-20" style="margin-bottom:5% !important">
                                        <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                                        <button type="submit" class="btn btn-dark btn-theme-colored btn-lg btn-flat">Submit Now</button>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover table-data">
                                            <tbody>
                                                <tr>
                                                    <th class="text-center">Date</th>
                                                    <th class="text-center">Reason</th>
                                                    <th width="20" class="text-center">Action</th>
                                                </tr>
                                                @if (Model.Offdays.Any())
                                                {
                                                    foreach (var item in Model.Offdays.OrderByDescending(s => s.OffDate))
                                                    {
                                                        <tr>
                                                            <th style="vertical-align: middle;" class="text-center">
                                                                <button class="btn btn-success btn-xs">@item.OffDate.ToShortDateString()</button>
                                                            </th>
                                                            <th>
                                                                @@ @item.Reason
                                                            </th>
                                                            <th>
                                                                <div class="text-center">
                                                                    <a href="@Url.Action("DeleteMyHoliday", "Doctor", new { id = item.OffdayId })"><i class="fa fa-trash icnclr-red" style="font-size:1.5em;margin: 10px;"></i></a>
                                                                </div>
                                                            </th>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr><th class="text-center" colspan="2">No Record Found..</th></tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>

                    <br /><br /><br /><br /><br /><br /><br /><br /><br />
                </div>
            </div>
        </div>
    </section>



</div>

 

@section Scripts {
    @Scripts.Render("~/plugins/validate")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#frm").validate({
                rules: {

                    OffDate: {
                        required: true 
                    },
                    Reason: {
                        required: true
                    }
                }
            });

       

        });
    </script>
}
