
@{
    ViewBag.Title = "Change Password";
}

<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider layer-overlay overlay-deep" data-bg-img="../../Content/Client/images/bg/bg5.jpg">
        <div class="container pt-90 pb-50">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 xs-text-center">
                        <h3 class="font-28">Change Password</h3>
                        <ol class="breadcrumb white mt-10">
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li class="active text-theme-colored">Change Password</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container pb-0">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-7">
                        <h4 class="text-theme-colored title-border mt-0">Change Password</h4>

                        @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { id = "frm", @class = "form-transparent mt-30" }))
                        {
                            @Html.AntiForgeryToken()

                            <!-- Appointment Form Sart-->

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>New Password <span class="text-danger">*</span>  </label>
                                        <br />
                                        @Html.Password("Password", string.Empty, new { placeholder = "xxxxx", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Confirm Password <span class="text-danger">*</span> </label>
                                        <br />
                                        @Html.Password("ConfirmPassword", string.Empty, new { placeholder = "xxxxx", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group mb-0 mt-20">
                                        <div>
                                            <button class="btn btn-primary" type="submit">Submit</button>
                                            <button class="btn btn-default" type="reset">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="col-md-5">
                        <img alt="" src="~/Content/Client/images/photos/1.png" class="img-responsive img-fullwidth">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



@section Scripts {

    @Scripts.Render("~/plugins/validate")

    <script type="text/javascript">
        $(document).ready(function () {

            $("#frm").validate({
                rules: {
                    Password: {
                        required: true
                    },
                    ConfirmPassword: {
                        required: true,
                        equalTo: "#Password"
                    }
                }
            });

        });
    </script>
}