@model List<DoctorVm>

@{
    ViewBag.Title = "Doctors";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Doctor</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Dashboard", "Admin")">Dashboard</a>
            </li>
            <li class="active">
                <strong>List of doctor</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                @*Title*@
                <div class="ibox-title">
                    <h5>Doctors</h5>
                </div>

                @*Content*@
                <div class="ibox-content">
                    <table class="table table-striped responsive table-bordered table-hover" width="100%" id="dtTable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>Email</th>
                                <th>Speciality</th>
                                <th>Degree</th>
                                <th>City</th>
                                <th>Experience</th>
                                <th>Registration on</th>
                                <th>A/D</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Any())
                            {
                                foreach (var item in Model.OrderByDescending(s=>s.CreatedDate))
                                {
                                    <tr>
                                        <td>@item.FullName</td>
                                        <td>@item.Mobile</td>
                                        <td>@item.Email</td>
                                        <td>@item.Speciality</td>
                                        <td>@item.Degree</td>
                                        <td>@item.City</td>
                                        <td>
                                            @{
                                                var diff = DateTime.UtcNow - item.DoctoringStartDate;
                                                @: @((diff.TotalDays / 365).ToString("#.#")) Year(s)
                                            }
                                        </td>
                                        <td>@item.CreatedDate.ToShortDateString()</td>
                                        <td>
                                            @if (item.IsActive)
                                            {
                                                <a class="text-success" href="@Url.Action("ActiveDeactive", "ADoctor", new { @id = item.DoctorId})"><i class="fa fa-check-circle-o fa-2x"></i> </a>
                                            }
                                            else
                                            {
                                                <a class="text-danger" href="@Url.Action("ActiveDeactive", "ADoctor", new { @id = item.DoctorId})"><i class="fa fa-times-circle-o fa-2x"></i> </a>
                                            }
                                        </td>
                                        <td>
                                            <a class="text-info" href="@Url.Action("Edit", "ADoctor", new { @id = item.DoctorId})"><i class="fa fa-pencil"></i> Edit</a> <br />
                                            <a class="text-danger" href="@Url.Action("Delete", "ADoctor", new { @id = item.DoctorId})"><i class="fa fa-trash"></i> Delete</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")



    <script type="text/javascript">
        $(document).ready(function () {

            $('#dtTable').DataTable({
                "aaSorting": [],
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });



        });</script>
}